@using songece.Models.Siniflar
@model List<Yorumlar>


@{  ViewBag.title="YorumListesi";
    Layout= "~/Views/Shared/_AdminLayout.cshtml";}

    <h2>Yorum Listesi</h2>

    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Kullanici</th>
            
            <th>Yorum</th>
            <th>Blog</th>
        </tr>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Id</td>
                <td>@x.KullaniciAdi</td>
                <td>@x.Yorum</td>
                <td>@x.Blogid</td>
                <td><a href="/Admin/YorumSil/@x.Id" class="btn btn-danger">Sil</a></td>
                <td><a href="/Admin/YorumGetir/" class="btn btn-warning">Güncelle</a></td>

                
            </tr>}