
@{Layout =null;}

<!DOCTYPE HTML>
<html>
<head>
<title>Yorum Prog</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="~/web/css/style.css" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="~/web/css/slider.css" rel="stylesheet" type="text/css" media="all"/>
    

</head>
<body>
<div class="header">
<div class="wrap">
<div class="logo"><a href="index.html"><img src="~/web/images/pp3.png" alt="" /></a></div>
   <div class="con-right">
			<div class="grid1-l-img">
				<img src="~/web/images/contact.png" alt="">
			</div>
			<div class="grid1-l-desc">
				<p>İletişim : +905417906167</p>
			</div>
			<div class="clear"></div>
	</div>
  <div class="clear"></div>
	</div>

</div>
<div class="header-bottom">
    	<div class="wrap">
    		<ul id="nav">
                @if(User.Identity!.IsAuthenticated){
                <li><a href="/Default/Index">Ana Sayfa</a></li>
                <li><a class="hsubs" href="/About/Index">Hakkımızda</a></li>
                <li><a class="hsubs" href="/Blog/Index">Araçlar Tartışma</a></li>

                    <ul class="subs">
                        <li><a href="#">Benzinli Araçlar</a></li>
                        <li><a href="#">Dizel Araçlar</a></li>
                        <li><a href="#">Elektrikli Araçlar</a></li>
                        <li><a href="#">Hidrojenli Araçlar</a></li>
                        <li><a href="#">Diğer</a></li>
                        
                    </ul>
                
                <li><a class="hsubs" href="/Yorum/Index">Yorum</a></li>
                
                 
                <li><a class="hsubs" href="/Admin" >@User.Identity.Name</a></li>
                <li><a class="hsubs" href="/user/logout">Çıkış</a></li>
                }
                else{
                <li><a class="hsubs" href="/user/login" class ="nav-link">Giriş</a></li>
                <li><a class="hsubs" href="/user/register" class ="nav-link">Kayıt Ol</a></li>
                
                }



        </ul>

       </div>
</div>

<div class"content">
@RenderBody()
</div>

<br>
</br>
<div class="footer-bottom">
<div class="wrap">	
	<div class="copy">
		<p>&copy; 2024 YorumProg. Tüm Hakları Saklıdır. | Design by <a href="https://www.linkedin.com/in/barisulusoy/">Barış Ulusoy</a></p>
	</div>
 </div>
</div>
</body>
</html>
